.about-wrapper {
  padding-block: 10rem;
  padding-inline: 5.6rem;
  background-color: grey();

  h1{
    margin-bottom: 2.4rem;
    font-size: 3.2rem;
  }

  & > div:nth-of-type(1) {
    background-color: white;
    width: 60%;
    height: 50rem;
    margin-inline: auto;
    position: relative;
    & > div:nth-of-type(1) {
      position: absolute;
      width: 50rem;
      height: 50rem;
      border-radius: 50%;
      position: absolute;
      top: -4rem;
      left: -21rem;
      border: solid 1.6rem white;
      box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.2);
    }

    & > div:nth-of-type(2) {
      position: absolute;
      right: -23rem;
      width: 50rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  & > div:nth-of-type(2) {
    display: flex;
    flex-wrap: wrap;
    gap: 3.2rem;
    margin-top: 11.2rem;

    & > div {
      flex: 10rem 1 1;
      padding: 2.4rem;
      border: solid 1.6rem white;
      box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.2);
    }
    & > div:nth-of-type(1) {
      background-color: #87b7e5;
      color: white;
    }
    & > div:nth-of-type(2) {
      background-color: #e8f7fe;
    }
    & > div:nth-of-type(3) {
      background-color: #1e4870;
      color: white;
    }
  }
}
