@media (min-width: 35em) {





  .description {
    display: flex;
    gap: 3.2rem;
    color: muted();
    background-color: white;
    padding-inline: 5.6rem;
    h4 {
      font-size: 1.8rem;
      text-align: left;
    }
    div {
      flex: 2rem 1 1;
    }
    div:nth-of-type(1) {
        text-align: left;
        margin-block: 2.4rem;
        font-size: 1.8rem;
    }
    a {
      display: block;
      background-color: danger();
      color: white;
      width: max-content;
      text-align: center;
      padding-inline: 1.6rem;
      padding-block: .8rem;
      margin-top: 2.4rem;
    }
  }

  .freeestimate {
    position: relative;
    height: 30rem;
    color: white !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 5.6rem;
    &::before {
      content: '';
      inset: 0;
      background-color: muted(0.8);
      position: absolute;
      z-index: -1;
    }

    & > div {
        text-align: center;
        h2{
            margin-block: 1.6rem;
        }
      a {
        margin-top: 1.6rem;
        display: block;
        background-color: danger();
        color: white;
        margin-inline: auto;
        width: max-content;
        text-align: center;
        padding-inline: 1.6rem;
        padding-block: 0.8rem;
      }
    }
  }

  .productone {
    padding-block: 3em;
    position: relative;
    .prodimg {
      height: 35rem;
      border: solid 1.6rem white;
      box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.2);
    }

    .prodBx {
      width: max-content;
      background-color: white;
      position: absolute;
      box-shadow: 0 0 4rem rgba(0, 0, 0, 0.2);
      padding: 2.4rem;
      h4 {
        font-size: 1.8rem;
        font-weight: bold;
        text-align: left;
        border-bottom: solid muted() 0.1rem;
        margin-bottom: 2.4rem;
        padding-bottom: 0.8rem;
      }

      a {
        display: block;
        background-color: danger();
        color: white;

        width: max-content;
        text-align: center;
        padding-inline: 1.6rem;
        padding-block: 0.8rem;
        margin-top: 2.4rem;
      }
    }
  }
}










@media (max-width: 35em) {

  .productone {
  
    position: relative;
    .prodimg {
      height: 35rem;
      width: 35rem;
      border: solid 1.6rem white;
      box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.2);
    }

    .prodBx {
      width: 35rem;
      background-color: white;
      box-shadow: 0 0 4rem rgba(0, 0, 0, 0.2);
      padding: 2.4rem;
      margin-bottom: 5.6rem;
      h4 {
        font-size: 1.8rem;
        font-weight: bold;
        text-align: left;
        border-bottom: solid muted() 0.1rem;
        margin-bottom: 2.4rem;
        padding-bottom: 0.8rem;
      }

      a {
        display: block;
        background-color: danger();
        color: white;
        width: max-content;
        text-align: center;
        padding-inline: 1.6rem;
        padding-block: 0.8rem;
        margin-top: 2.4rem;
      }
    }
  }

  .description {
    color: muted();
    background-color: white;
    padding-inline: 5.6rem;
    h4 {
      font-size: 1.8rem;
      text-align: left;
    }

    div:nth-of-type(1) {
        text-align: left;
        margin-block: 2.4rem;
        font-size: 1.8rem;
    }
    a {
      display: block;
      background-color: danger();
      color: white;
      width: max-content;
      text-align: center;
      padding-inline: 1.6rem;
      padding-block: .8rem;
      margin-top: 2.4rem;
    }
  }

  .freeestimate {
    position: relative;
 
    color: white !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 5.6rem;
    padding-inline: 1.6rem;
    margin-bottom: 5.6rem;
    &::before {
      content: '';
      inset: 0;
      background-color: muted(0.8);
      position: absolute;
      z-index: -1;
    }

    & > div {
        text-align: center;
        h2{
            margin-block: 1.6rem;
        }
      a {
        margin-top: 1.6rem;
        display: block;
        background-color: danger();
        color: white;
        margin-inline: auto;
        width: max-content;
        text-align: center;
        padding-inline: 1.6rem;
        padding-block: 0.8rem;
      }
    }
  }


}